<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zarvilla.marchbandosun">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/band"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SongDetailsActivity"
            android:label="@string/title_activity_song_details"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zarvilla.marchbandosun.HomeActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CodeOfConductActivity"
            android:label="@string/code_of_conduct"
            android:parentActivityName=".HomeActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zarvilla.marchbandosun.HomeActivity" />
        </activity>
        <activity
            android:name=".TheOfficialsActivity"
            android:parentActivityName=".HomeActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zarvilla.marchbandosun.HomeActivity" />
        </activity>
        <activity
            android:name=".ParadeCommandsActivity"
            android:parentActivityName=".HomeActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zarvilla.marchbandosun.HomeActivity" />
        </activity>
        <activity
            android:name=".BandAnthemActivity"
            android:label="@string/title_activity_band_anthem"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zarvilla.marchbandosun.HomeActivity" />
        </activity>
        <activity android:name=".BandInstrumentActivity"
            android:label="@string/band_instrument"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zarvilla.marchbandosun.HomeActivity" />

        </activity>
    </application>

</manifest>